
# Created by https://www.gitignore.io/api/c++

### C++ ###
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Something Windows-related
*.win

# End of https://www.gitignore.io/api/c++

*.dump
bc
cc6502
c6502
Compiler/Tests/
*.tbin
*.6502
"* Test"
.vscode/*
Compiler/.vscode/*