
# Created by https://www.gitignore.io/api/c++

### C++ ###
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Something Windows-related
*.win

# End of https://www.gitignore.io/api/c++

#Binaries
*.dump
*.tbin
*.6502
bc
cc6502
c6502
c6502.lbin

#Test Files
Compiler/Tests/*
Exec/*
"* Test"
Success

#vscode things
.vscode/*
Compiler/.vscode/*